certifi==2025.1.31
charset-normalizer==3.4.1
future==1.0.0
idna==3.10
iso8601==2.1.0
minimalmodbus==2.1.1
modbus_tk==1.1.4
numpy==2.2.2
paho-mqtt==2.1.0
pillow==11.1.0
psutil==6.1.1
psutils==3.3.9
puremagic==1.28
pypdf==5.2.0
pyserial==3.5
PyYAML==6.0.2
requests==2.32.3
RPi.GPIO==0.7.1
serial==0.0.97
smbus==1.1.post2
smbus2==0.5.0
spidev==3.6
urllib3==2.3.0
