[Unit]
Description=Autostart main program climate
After=multi-user.target
[Service]
Environment="PATH=/home/pi/code/envPumma/bin:/usr/bin:/bin"
ExecStart=/home/pi/code/envPumma/bin/python /home/pi/code/climate/climate.py
WorkingDirectory=/home/pi/code
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
