[Unit]
Description=Autostart read mppt Script
After=multi-user.target
[Service]
Environment="PATH=/home/pi/code/envPumma/bin:/usr/bin:/bin"
ExecStart=/home/pi/code/envPumma/bin/python3 /home/pi/code/device/device.py
WorkingDirectory=/home/pi/code/device
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
